%table
  %tr
    - grid_for_hash subscription.pairs
!= link_to "Show",      "#{MYSPACE_URL_BASE}/subscriptions/#{subscription.id}"
!= link_to "Re-enable", "#{MYSPACE_URL_BASE}/subscriptions/#{subscription.id}/update"
!= link_to "Delete",    "#{MYSPACE_URL_BASE}/subscriptions/#{subscription.id}/delete"
