!!! XML
!!! Strict
%html{ "xml:lang" => "en", :lang => "en", "xmlns" => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml" }
  %head
    %title= ['Streamweaver', @title].join('::')
    %link{ :href => "/stylesheets/reset.css",       :rel => "stylesheet",    :type => "text/css" }
    %link{ :href => "/stylesheets/application.css", :rel => "stylesheet",    :type => "text/css" }
    %link{ :href => "/favicon.ico",                 :rel => "shortcut icon", :type => "image/x-icon" }

  %body
    #container
      != partial :_topbar

      = session.inspect
      - unless session[:flash].blank?
        #flash
        - session[:flash].each do |flash_type, flash_text|
          %div{ :class => flash_type }
            = flash_text
        -session[:flash] = {}
        %br.clear
      
      != yield

      %br.clear
      != @dump
    

    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"    }
    %script{ :type => "text/javascript", :src => "/javascripts/application.js" }
    != @final_js  
